* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

a,
button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a,
a:hover,
a:focus,
button,
button:hover,
button:focus {
  outline: none;
  cursor: pointer;
  text-decoration: none !important;
}
input,
textarea,
input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
ul,
li {
  margin: 0;
  list-style: none;
}
.btns {
  border: 1px solid #cbcbcb;
  padding: 10px 25px;
  background: transparent;
  min-width: 180px;
  text-align: center;
  color: #cbcbcb;
  font-size: 15px;
  transition: 0.5s;
  text-transform: uppercase;
}
.btns.enable {
  background: #000000;
  color: #fff;
}
.btns.enable:hover {
  background: #fd6920;
  color: #fff;
}
.btns.disable:hover {
  background: #fd6920;
  color: #fff;
}
/* Middle */
.middle-text {
  float: left;
  width: 100%;
  background: #000;
  padding: 100px 0px;
  position: relative;
}
.middle-text .banner-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.middle-text .banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fitting-sec .breadcome-banner {
  background: url(../images/fitting-virtual.png);
  min-height: 412px;
  overflow: hidden;
  background-position: top;
  background-size: cover;
  position: relative;
}

.fitting-sec .breadcome-banner .breadcome-title {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(270deg, #ffffff00 0%, #191919b0 100%);
}

.fitting-sec .breadcome-banner .breadcome-title h1 {
  color: #fff;
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
}

/*  */
.bread-come-text {
  padding-top: 40px;
}
.bread-come-text .text-desc ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}
.bread-come-text .text-desc ul li a {
  padding: 0 10px;
}
.bread-come-text .text-desc ul li a,
.bread-come-text .text-desc ul li a ~ svg {
  color: #929292;
  font-size: 13px;
  text-decoration: none;
}
.bread-come-text .text-desc ul li a.active {
  color: #ff6900;
  font-size: 16px;
  font-weight: bold;
}

.middel-section-start .main-page-desc {
  text-align: center;
  width: 55%;
  margin: 0 auto;
}
.middel-section-start.fitting5 .main-page-desc {
  width: 100%;
}
.middel-section-start .main-page-desc.fitting-4{
  width: 100%;
}

.middel-section-start.fitting-virtual3 .main-page-desc{
  width: 50%;
}
.middel-section-start .main-page-desc .pagination-text {
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
}
.middel-section-start .main-page-desc .pagination-text span:first-child {
  padding-right: 3px;
}
.middel-section-start .main-page-desc .pagination-text span:last-child {
  padding-left: 3px;
}
.middel-section-start .main-page-desc .page-title {
  margin-top: 10px;
}
.middel-section-start .main-page-desc .page-title h2 {
  font-weight: bold;
  font-size: 40px;
}
.middel-section-start .main-page-desc .page-title h2 span {
  color: #fd6920;
}
.middel-section-start .all-genders {
  margin-top: 22px;
}
.middel-section-start .all-genders .adjust-space .width-space {
  width: 23%;
}
.middel-section-start.fitting5 .all-genders .adjust-space .width-space{
  width: auto;
}
.middel-section-start .all-genders a .gender-icon {
  border: 2px solid #8d8d8d;
  border-radius: 6px;
  padding: 40px 30px;
  text-align: center;
  transition: 0.5s;
  position: relative;
}
.middel-section-start.fitting5 .all-genders a .gender-icon{
  height: 212px;
  width: 224px;
}
.middel-section-start .all-genders .gender-icon .title {
  margin-top: 13px;
  font-size: 20px;
  color: #8d8d8d;
  transition: 0.5s;
  text-decoration: none;
  line-height: 22px;
}

.middel-section-start .all-genders .gender-icon .icon.default {
  display: block;
  transition: 0.5s;
  margin: 0 auto;
}
.middel-section-start.fitting5 .all-genders .gender-icon .icon.default {
  max-height: 90px;
}
.middel-section-start.fitting5 .all-genders a:hover .icon.hover{
  max-height: 90px;
}
.middel-section-start .all-genders .gender-icon .icon.hover {
  display: none;
  transition: 0.5s;
  margin: 0 auto;
}

.middel-section-start .all-genders a:hover .gender-icon {
  border: 2px solid #ff6900;
  transition: 0.5s;
  box-shadow: 6px 6px 14px #00000029;
}

.middel-section-start .all-genders a:hover .icon.default {
  display: none;
  transition: 0.5s;
}
.middel-section-start .all-genders a:hover .icon.hover {
  display: block;
  transition: 0.5s;
}

.middel-section-start .all-genders .gender-icon .right-tick {
  color: white;
  height: 30px;
  width: 30px;
  background: #ff6900;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  position: absolute;
  right: -10px;
  top: -10px;
  display: none;
  transition: 0.5s;
  padding-top: 3px;
}
.middel-section-start .all-genders a:hover .right-tick {
  display: block;
  transition: 0.5s;
}

.bottom-navigation-btn {
  padding: 30px 0 110px 0;
}
.bottom-navigation-btn a .btns span.fa-long-arrow-left {
  margin-right: 10px;
}
.bottom-navigation-btn a .btns span.fa-long-arrow-right {
  margin-left: 10px;
}

/* 2 */

.nav.nav-tab-sec {
  margin-top: 50px;
  margin-bottom: 20px;
  justify-content: space-around;
  border-bottom: unset;
}
.nav.nav-tab-sec li a {
  border: unset;
  background: #e8e8e8;
  border-radius: 6px;
  text-transform: unset;
  color: #2d2926;
  padding: 0;
  font-size: 20px;
  min-height: 60px;
  line-height: 60px;
  min-width: 276px;
}
.nav.nav-tab-sec li a.active {
  border: unset;
  background: #fd6920;
  border-radius: 6px;
  text-transform: unset;
  color: #ffffff;
}

.tab-content {
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-content .counter-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}
.tab-content .counter-sign .fa {
  color: #cbcbcb;
  border: 1px solid #cbcbcb;
  background: transparent;
  border-radius: 100%;
  height: 57px;
  width: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  line-height: 57px;
  padding-top: 5px;
  transition: 0.5s;
}
.tab-content .counter-sign .fa:hover {
  color: #fff;
  border: 1px solid #fd6920;
  background: #fd6920;
  transition: 0.5s;
}
.tab-content .counter-sign .fa-plus {
  margin-right: 20px;
}
.tab-content .counter-sign .fa-minus {
  margin-left: 20px;
}
.tab-content .counter-sign .number {
  font-size: 60px;
  font-weight: bold;
}


/* 3 */
.main-checkbox{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 24%;
  margin: 55px auto 108px auto;
}
.main-checkbox .tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;

}
.main-checkbox .tasks input[type="radio"] {
  appearance: none;
}
.main-checkbox .tasks label {
  position: relative;
  cursor: pointer;
  /* padding-top: 5px; */
  font-size: 20px;
}
.main-checkbox .tasks label::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 21px;
  height: 21px;
  background-color: #fd692000;
  border: 1px solid #707070;
  border-radius: 100%;
}
.main-checkbox .tasks input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -90%;
  width: 15px;
  height: 15px;
  background-color: #FD6920;
  border-radius: 100%;
}
.main-checkbox .tasks input[type="radio"]:checked + label::before {
  border: 1px solid #FD6920;
}

/* 4 */

/* Vipin */


.fitting--banner .main--banner {
	background-image: url(../images/fitting--banner.png);
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 8%;
	background-position: left center;
}

.fitting--banner .main--banner h1 {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	left: 12%;
	color: #FFF;
	top: 50%;
	transform: translateY(-50%);
	margin-top: 0;
	font-size: 70px;
	text-align: left;
	font-weight: 600;
}

.fitting--head h2 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 40px;
	color: #2D2926;
}

.fitting--head p {
	font-family: 'Montserrat', sans-serif;
	color: #2D2926;
	font-size: 20px;
	line-height: 24px;
	opacity: 0.81;
	padding: 10px 20px;
  margin-bottom: 50px;
}

.fitting-dual-box .fitting-box-content {
	padding-left: 50px;
	margin-right: 50px;
	font-family: 'Montserrat', sans-serif;
	color: #2D2926;
	max-width: 600px;
}

.fitting-dual-box .fitting-box-content h3 {
	letter-spacing: 2px;
	font-size: 40px;
	font-weight: 300;
}

.fitting-dual-box .fitting-box-content h3 span {
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 3px;
	display: block;
	text-transform: uppercase;
}

.fitting-dual-box .fitting-box-content h3 span:after {
	content: '.';
	color: #FD6920;
}

.fitting-dual-box .fitting-box-content p {
	font-size: 19px;
	line-height: 24px;
	letter-spacing: 0.4px;
}

.primary--button {
	background-color: #000000;
	color: #FFF;
	font-size: 15px;
	padding: 16px 27px;
	font-weight: 300;
	display: inline-block;
}

.primary--button:hover {
	background-color: #FD6920;
	color: #FFF;
}

.secondary--button {
	background-color: #FFFFFF;
	color: #FD6920;
	font-size: 15px;
	padding: 16px 27px;
	font-weight: 300;
	display: inline-block;
}

.secondary--button:hover {
	background-color: #FD6920;
	color: #FFF;
}


.primary--button i{
  padding-left: 7px;
}

.secondary--button i{
  padding-left: 7px;
}

.fitting-simulador .simulador-banner {
	background-image: url(../images/fitting--simulador.png);
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;
}

.fitting-simulador .simulador-banner .banner-tag {
	padding-top: 64px;
}

.fitting-simulador .simulador-banner .banner-tag span {
	color: #FFF;
	background: rgba(255, 105, 0, 0.7);
	padding: 7px 40px 6px 80px;
	display: inline-block;
	font-size: 25px;
	letter-spacing: 2.5px;
	font-weight: 300;
}

.fitting-simulador .simulador-banner .text-content {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	max-width: 600px;
	padding-bottom: 60px;
	padding-top: 20%;
	padding-left: 80px;
	padding-left: 50px;
	margin-right: 50px;
}

.fitting-simulador .simulador-banner .text-content h3 {
	letter-spacing: 2px;
	font-size: 40px;
	font-weight: 300;
}

.fitting-simulador .simulador-banner .text-content h3 span {
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 3px;
	display: block;
	text-transform: uppercase;
}

.fitting-simulador .simulador-banner .text-content h3 span:after {
	content: '.';
	color: #FD6920;
}

.fitting-simulador .simulador-banner .text-content p {
	font-size: 19px;
	line-height: 24px;
	letter-spacing: 0.4px;
	font-weight: 200;
}

.fitting--footer{
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 40px;
  text-transform: uppercase;
}

.fitting--footer h2{
  font-weight: 200;
}

.fitting--footer span{
  font-weight: 700;
  display: block;

}

.fitting--footer span:after{
  content: '.';
  color: #FD6920;
}

.fitting-virtual-head span{
  font-size: 14px;
  color: #000000;
  font-weight: 600;
}

.fitting-virtual-head h2{
  font-size: 40px;
  letter-spacing: 2px;
  color: #000000;
  font-weight: 700;
}

.fitting-virtual-head p{
  color: #2D2926;
  letter-spacing: 0.4px;
  font-size: 20px;
  font-weight: 400;
}

.fitting-virtual-result .product-block {
  max-width: 332px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.fitting-virtual-result .product-block .product-detail span{
  display: block;
  color: #2D2926;

}

.fitting-virtual-result .product-block .product-detail .category{
  font-size: 14px;
}

.fitting-virtual-result .product-block .product-detail .product-name{
  font-size: 18px;
}

.fitting-virtual-result .product-block .product-detail .price{
  font-size: 18px;
  font-weight: 700;
}

.fitting-virtual-result .product-block .product-detail{
  margin-top: 18px;
}

.fitting-virtual-result .product-block .product-img{
  cursor: pointer;
}

.fitting-virtual-result .product-block .product-img img:hover{
  -webkit-filter: brightness(75%);
    filter: brightness(80%);
}

.product-block .stars {
  width: 90px;
  display: inline-block;
}
.product-block input.star { display: none; }
.product-block label.star {
  float: right;
    padding: 2px;
    font-size: 13px;
    color: #444;
    transition: all .2s;
}
.product-block input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FF6900;
  transition: all .25s;
}
.product-block input.star-1:checked ~ label.star:before { color: #F62; }
.product-block label.star:before {
  content: '\f006';
  font-family: FontAwesome;
  color: #E1E1E1;
}

/* Himani */

.form-control,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.details-banner {
  float: left;
  width: 100%;
  padding: 32px 0px 56px;
}

.details-banner .container {
  max-width: 1730px;
}

.details-left {
  float: left;
  width: 32%;
  padding-top: 96px;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: 0 0 18px;
}

.breadcrumb li {
  padding-right: 10px;
  line-height: 19px;
}

.breadcrumb li:after {
  content: "";
  border: solid #707070;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 3px;
}

.breadcrumb li:last-child:after {
  content: none;
}

.breadcrumb li a {
  color: #000;
  line-height: 19px;
}

.breadcrumb li span {
  color: #FF6900;
  font-weight: 700;
}

.rating {
  float: left;
  width: 100%;
  padding: 0px;
}

.rating li {
  padding: 0px 2px;
  float: left;
}

.rating li.fill img {
  filter: grayscale(0);
}

.rating li img {
  max-width: 13px;
  filter: grayscale(100%);
  float: left;
}

.details-banner h1 {
  float: left;
  width: 100%;
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0px;
}

.details-banner .price {
  display: flex;
  align-items: flex-end;
  width: 100%;
  border-bottom: 1px solid #B5B5B5;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.details-banner .price .small-text {
  font-size: 18px;
  color: #9B9B9B;
  position: relative;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 5px;
}

.details-banner .price .small-text:after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 100%;
  background: #9B9B9B;
  height: 1px;
}

.details-banner .price h3 {
  margin-left: 7px;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: 500;
  line-height: 37px;
  float: left;
}

.details-banner .price .percent-price {
  margin-left: 12px;
  background: #FF6900;
  font-size: 15px;
  color: #fff;
  position: relative;
  padding: 1px 14px 1px 9px;
  float: left;
  margin-bottom: 7px;
}

.details-banner .price .percent-price:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 12px 11px 12px;
  border-color: transparent transparent #fff transparent;
  content: '';
  transform: rotate(-90deg);
  float: left;
  right: -8px;
  position: absolute;
  top: 7px;
}

.details-left p {
  font-size: 20px;
  color: #2D2926;
  float: left;
  width: 90%;
  margin: 0px;
}

.right-form {
  float: left;
  width: 100%;
  padding: 0px 16px 0px 30px;
}

.right-form .form-group {
  margin-bottom: 30px;
  float: left;
  width: 100%;
}

.right-form label {
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  float: left;
  width: 100%;
  margin-bottom: 6px;
  line-height: 18px;
}

.right-form .selectpicker {
  position: relative;
  float: left;
  width: 100%;
}

.right-form .selectpicker:after {
  content: "";
  border: solid #707070;
  border-width: 0 1px 1px 0;
  padding: 3px;
  position: absolute;
  right: 20px;
  top: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.right-form .form-control {
  border: 1px solid #B5B5B5;
  border-radius: 0px;
  padding: 14px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #B5B5B5;
  line-height: 20px;
}

.right-form .heart-icon {
  color: #000000;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.right-form .heart-icon span {
  margin-right: 10px;
  border: 2px solid #7d7b79;
  color: #898989;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  font-size: 16px;
}

.right-form .heart-icon span i {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  ;
}

.right-form .heart-icon:hover {
  color: #FF6B00;
}

.right-form .heart-icon:hover span {
  background: #FF6B00;
  border-color: #FF6B00;
}

.right-form .heart-icon span i.far {
  display: none;
  color: #fff;
}

.right-form .heart-icon:hover span i.fas {
  display: none;
}

.right-form .heart-icon:hover span i.far {
  display: block;
}

.right-form .btn-submit {
  width: calc(100% - 137px);
  float: left;
  background: #000;
  color: #fff;
  padding: 20px 16px;
  border: 0px;
  margin-left: 8px;
}

.right-form .btn-submit:hover {
  background: #FF6900;
}

.right-form .input-group {
  border: 1px solid #CCCCCC;
  width: 128px;
  display: flex;
  align-items: center;
  float: left;
  padding: 7px 0px;
}

.right-form .input-group input {
  border: 0px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.right-form .input-group button {
  border: 0px;
  background: transparent;
  color: #B5B5B5;
  padding: 0px 12px;
}


/* Slider */

.product-slider {
  float: left;
  width: 100%;
  margin-top: 30px;
}

.product-slider-main {
  float: left;
  width: 68%;
  padding-left: 85px;
  padding-right: 30px;
}

.product-slider-main .slider-banner-image img {
  width: 100%;
  height: 765px;
  object-fit: cover;
  float: left;
}

.product-slider .slick-slide {
  padding-right: 10px;
}

.product-slider .slick-slide img {
  height: 110px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.product-slider-main .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border: 0px;
  cursor: pointer;
}

.product-slider-main .slick-arrow img {
  max-width: 32px;
}

.product-slider-main .slick-prev.slick-arrow {
  left: 48px;
}

.product-slider-main .slick-next.slick-arrow {
  right: 48px;
}

.section-third {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.section-third img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-text-inner {
  float: left;
  width: 100%;
  padding: 40px 100px;
}

.right-text-inner p {
  float: left;
  width: 84%;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #2D2926;
  margin: 0px;
}

.sub-title {
  float: left;
  width: 100%;
}

.sub-title h2 span {
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 2px;
  display: block;
  text-transform: none;
  line-height: 40px;
}

.sub-title h2 {
  font-size: 60px;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px;
}

.middle-left-text .sub-title h2 {
  color: #fff;
}

.middle-left-text p {
  float: left;
  width: 84%;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #fff;
  margin: 0px;
}

.need-section {
  display: flex;
  align-items: center;
  padding: 112px 0px 0px 150px;
  width: 100%;
  flex-wrap: wrap;
}

.need-section .slick-list {
  padding-left: 0px!important;
}

.need-section h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  margin-bottom: 15px;
  float: left;
  width: 100%;
  ;
}

.need-section .slick-carousel {
  width: 100%;
}

.need-section .slick-carousel .item-info {
  padding: 0px 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.need-section .slick-carousel .item-info:hover span:after {
  opacity: 1;
}

.need-section .slick-carousel .item-info img {
  max-height: 524px;
  width: 100%;
  object-fit: cover;
  background: #f7f7f7;
}

.need-section .slick-carousel .item-info span {
  width: 100%;
  position: relative;
  float: left;
}

.need-section .slick-carousel .item-info span:after {
  content: '';
  background-color: #FF6900;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.need-section .slick-carousel .item-info h2 {
  margin: 20px 0px 10px;
  float: left;
  width: 100%;
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.need-section .slick-carousel .item-info:hover h2 {
  color: #FF6900;
}

.need-section .slick-carousel .item-info p {
  font-size: 20px;
  color: rgba(45, 41, 38, 81);
  line-height: 24px;
  letter-spacing: 0.4px;
}

.need-section .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border: 0px;
  cursor: pointer;
  background: #F5F5F5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #D1D1D1;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
  margin-top: -70px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.need-section .slick-prev.slick-arrow {
  left: -50px;
}

.need-section .slick-next.slick-arrow {
  right: 110px;
}

.need-section .slick-arrow:hover {
  background: #FF6900;
  color: #fff;
  box-shadow: 0px 3px 6px #00000029;
}

.vedio-section {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 140px 0px;
  justify-content: center;
}

.vedio-section h2 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 0.2px;
  color: #000000;
  margin: 0px 0px 10px;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 49px;
}

.vedio-section h2 span {
  color: #FF6900;
}

.vedio-section p {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: rgba(45, 41, 38, 0.81)
}

.vedio-section video {
  width: 100%;
  float: left;
}


/* Middle */

.middle-text {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 200px 0px;
  position: relative;
  background: #000000;
  z-index: 1;
}

.middle-text .container {
  max-width: 1730px;
}

.middle-text:after {
  position: absolute;
  left: 20%;
  top: 0;
  content: "";
  height: 100%;
  width: 50%;
  background: transparent linear-gradient(80deg, var(--unnamed-color-000000) 0%, #2D292600 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(80deg, #000000 0%, #2D292600 100%) 0% 0% no-repeat padding-box;
  z-index: -1;
}

.middle-text .banner-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.middle-text .banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fitting-sec .middel-section-start .all-genders .gender-icon label {
  border: 2px solid #8d8d8d;
  border-radius: 6px !important;
	padding: 40px 40px;
	text-align: center;
	transition: 0.5s;
	position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  min-width: 100%;
}

.fitting-sec .middel-section-start .all-genders .gender-icon:hover label {
  border: 2px solid #ff6900;
	transition: 0.5s;
	box-shadow: 6px 6px 14px #00000029;
  cursor: pointer;
}

.fitting-sec .middel-section-start .all-genders .gender-icon:hover label img:nth-child(1) {
  display: none;
}

.fitting-sec .middel-section-start .all-genders .gender-icon:hover label img:nth-child(2) {
  display: block;
}

.fitting-sec .middel-section-start .all-genders .gender-icon input[type="radio"],
.fitting-sec .middel-section-start .all-genders .gender-icon input[type="checkbox"] {
  display: none;
}

.fitting-sec .middel-section-start .all-genders .gender-icon input[type="radio"]:checked ~ label,
.fitting-sec .middel-section-start .all-genders .gender-icon input[type="checkbox"]:checked ~ label {
  border: 2px solid #ff6900;
	transition: 0.5s;
	box-shadow: 6px 6px 14px #00000029;
  cursor: pointer;
}

.fitting-sec .middel-section-start .all-genders .gender-icon input[type="radio"]:checked ~ label img:nth-child(1),
.fitting-sec .middel-section-start .all-genders .gender-icon input[type="checkbox"]:checked ~ label img:nth-child(1) {
  display: none;
}

.fitting-sec .middel-section-start .all-genders .gender-icon input[type="radio"]:checked ~ label img:nth-child(2),
.fitting-sec .middel-section-start .all-genders .gender-icon input[type="checkbox"]:checked ~ label img:nth-child(2) {
  display: block;
}

.fitting-sec .middel-section-start .all-genders .gender-icon input[type="radio"]:checked ~ label .right-tick,
.fitting-sec .middel-section-start .all-genders .gender-icon input[type="checkbox"]:checked ~ label .right-tick {
  display: block;
}

/* Range Slider */
input[type=range] {
  -webkit-appearance: none;
	margin: 18px auto 18px auto;
	width: 95%;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	z-index: 2;
	background: transparent;
	cursor: pointer;
}

input[type="range"] ~ datalist {
  display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: "Montserrat", sans-serif, serif;
	margin: -6rem 18px 0 18px;
	width: auto;
	height: auto;
	z-index: -1;
	pointer-events: none;
}

input[type="range"] ~ datalist option {
  cursor: pointer;
	background-color: #FD6920;
	padding: 5px 10px 3px 10px;
	color: #fff;
	width: auto;
	min-width: 55px;
	height: auto;
	height: 39px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -2;
	pointer-events: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: #DFDFDF;
  border-radius: 1.3px;
  border: 0.2px solid #DFDFDF;
}
input[type=range]::-webkit-slider-thumb {
  height: 40px;
  width: 59px;
  border-radius: 50px;
  background-color: transparent;
  background-image: url(../images/input-range.PNG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
  position: relative;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* Features Iron*/

/* Section Steps */

.step {
  display: none;
}

.step.active {
  display: block;
}

/* Modify */
.input-group.gender-icon {
  width: 225px;
	height: 225px;
}

.input-group.gender-icon .title {
  white-space: nowrap;
}

