@media only screen and (max-width: 1400px) {
  .middel-section-start .all-genders a .gender-icon {
    padding: 30px 20px;
  }
  .middel-section-start .main-page-desc {
    width: 100%;
  }
  .middel-section-start.fitting-virtual3 .main-page-desc {
    width: 60%;
  }
  .main-checkbox {
    margin: 55px auto 48px auto;
  }
  .middel-section-start.fitting5 .all-genders .adjust-space .width-space {
    width: 20%;
  }
  .middel-section-start.fitting5 .all-genders a .gender-icon {
    height: unset;
    width: unset;
  }
  .middel-section-start.fitting5 .all-genders .gender-icon .title {
    min-height: 44px;
  }
}
/* Vipin */
@media screen and (max-width: 1240px) {
  .fitting-dual-box .fitting-box-content h3 {
    font-size: 22px;
  }

  .fitting-dual-box .fitting-box-content h3 span {
    font-size: 35px;
  }

  .fitting-dual-box .fitting-box-content p {
    font-size: 14px;
    line-height: 19px;
  }

  .fitting-simulador .simulador-banner .text-content h3 {
    font-size: 22px;
  }

  .fitting-simulador .simulador-banner .text-content h3 span {
    font-size: 35px;
  }

  .fitting-simulador .simulador-banner .text-content p {
    font-size: 14px;
    line-height: 19px;
  }

  .fitting--banner .main--banner {
    padding: 14%;
  }
}

@media only screen and (max-width: 1199px) {
  .main {
    padding: 0px 16px;
  }
  .registration-form {
    padding: 32px 0px;
  }
  .registration-form .login-block {
    padding-left: 24px;
  }
  /* content */
  .sub-banner .overly-text h1 {
    font-size: 32px;
    margin: 0px;
  }
  .tab-main .download-block {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  /* pnkj */
  .middel-section-start .all-genders a .gender-icon {
    padding: 20px 10px;
  }
  .middel-section-start .all-genders .gender-icon .icon {
    height: 65px;
  }
  .middel-section-start .all-genders .gender-icon .title {
    font-size: 16px;
  }
  .middel-section-start .main-page-desc {
    width: 100%;
  }
  /* 3 */
  .middel-section-start.fitting-virtual3 .main-page-desc {
    width: 70%;
  }
  .main-checkbox {
    margin: 55px auto 48px auto;
  }

  /* Vipin */
  .fitting-dual-box[dir] .fitting-box-content h3 span:after {
    display: none;
  }

  .fitting-dual-box[dir] .fitting-box-content h3 span:before {
    content: ".";
    color: #fd6920;
  }

  .fitting-dual-box[dir] .primary--button {
    direction: ltr;
  }
  .slider-range .menu ul li{
    padding: 4px 20px;
  }
}

@media only screen and (max-width: 992px) {
  /* content */
  .tab-main .download-block .block-content {
    width: 47%;
    padding: 15px 16px;
  }
  .tab-main .last-tab-content {
    width: 100%;
  }
  .tab-main .download-block .block-content h3 {
    font-size: 14px;
    margin-right: 16px;
  }
  .tab-main .last-tab-content .left-tab p {
    width: 100%;
  }
  .tab-main {
    padding: 32px 0px;
  }

  /* pnkj */
  .middel-section-start .main-page-desc {
    width: 100%;
  }
  .middel-section-start .all-genders a .gender-icon {
    padding: 10px;
  }
  .middel-section-start .all-genders .gender-icon .icon {
    height: 60px;
  }
  .middel-section-start .all-genders .gender-icon .title {
    font-size: 14px;
    margin-top: 10px;
  }
  .bottom-navigation-btn {
    padding: 30px 0;
  }
  /* 2 */
  .nav.nav-tab-sec li a {
    margin-bottom: 30px;
  }
  .nav.nav-tab-sec li #tab-2 {
    margin-bottom: 0;
  }
  .nav.nav-tab-sec {
    margin: 20px 0;
  }

  .tab-content {
    min-height: 100px;
  }

  /* 3 */
  .middel-section-start.fitting-virtual3 .main-page-desc {
    width: 100%;
  }
  .main-checkbox {
    width: 50%;
    margin: 55px auto 20px auto;
  }
  .middel-section-start.fitting5 .all-genders .gender-icon .title {
    min-height: 44px;
  }

  /* .range-slider-sec .range_slider .ui-state-default:after, .range-slider-sec .range_slider .ui-widget-content .ui-state-default:after{
    height: 30px;
    width: 100%;
    top: 160%;
    left: 0;
  }
  .range-slider-sec .range_container .ruler{
    margin: 23px auto 0 auto;
  }
  .range-slider-sec .range_container .ruler span{
    font-size: 13px;
  } */

  .slider-range .menu .slider .bar,
  .slider-range .menu .slider .bar .before {
    height: 5px;
  }
  .slider-range .menu .slider .bar a.knob {
    width: 70px;
    height: 26px;
    top: -10px;
  }

  .slider-range .menu .slider .bar a.knob .fa {
    font-size: 20px;
  }
  .slider-range .menu .slider .bar a.knob .fa.fa-circle-o {
    font-size: 10px;
    padding: 2px 10px 0 10px;
  }

  .slider-range .menu ul li {
    padding: 4px 15px;
  }
  .slider-range .menu ul li a {
    font-size: 12px;
  }
}
@media screen and (max-width: 990px) {
  .fitting-dual-box[dir] {
    direction: initial;
  }

  .fitting-dual-box .fitting-box-content {
    padding: 25px;
    margin-right: 0;
  }

  .fitting-dual-box .fitting-box-img img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .fitting--banner .main--banner {
    padding: 19%;
  }

  .fitting--banner .main--banner h1 {
    font-size: 34px;
  }

  .fitting--head h2 {
    font-size: 30px;
  }

  .fitting--head p {
    font-size: 16px;
    line-height: 20px;
  }

  .fitting-simulador .simulador-banner .banner-tag {
    padding-top: 35px;
  }

  .fitting-simulador .simulador-banner .banner-tag span {
    padding: 4px 31px 4px 43px;
    font-size: 15px;
  }

  .fitting-simulador .simulador-banner .text-content h3 span {
    font-size: 30px;
  }

  .fitting-dual-box .fitting-box-content h3 {
    font-size: 19px;
  }

  .fitting-dual-box .fitting-box-content h3 span {
    font-size: 26px;
  }

  .fitting-simulador .simulador-banner .text-content {
    padding-left: 35px;
  }
}

@media only screen and (max-width: 767px) {
  .registration-form .left-img {
    width: 100%;
    text-align: center;
  }
  .registration-form .login-block {
    width: 100%;
    padding: 32px 0px 0px;
  }
  .registration-form .login-block h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .registration-form .login-block .form-main .btn {
    padding: 12px 32px;
    min-width: 150px;
  }
  .registration-form.login-form .left-img {
    width: 100%;
  }
  .registration-form.login-form .login-block {
    width: 100%;
  }
  .registration-form.login-form .login-block .form-main {
    width: 100%;
  }
  /* content */
  .sub-banner .overly-text .main {
    padding-top: 0px;
  }
  .sub-banner .overly-text {
    position: static;
    padding: 32px 0px;
    border-bottom: 1px solid #f2f2f2;
  }
  .sub-banner .overly-text h1 {
    font-size: 24px;
    color: #333;
  }
  .sub-banner .overly-text p {
    font-size: 16px;
    color: #333;
  }
  .tab-main ul.tabs li {
    margin: 0px 8px;
    min-width: auto;
    padding: 10px 16px;
  }
  .tab-main .last-tab-content .left-tab {
    width: 100%;
  }
  .tab-main .last-tab-content .right-tab {
    width: 100%;
    padding: 0px;
    margin-top: 24px;
  }
  .tab-main .bottom-text p {
    max-width: 100%;
  }
  .tab-main .middle-btn .btn {
    padding: 12px 32px;
    min-width: 150px;
  }

  /* pnkj */

  .fitting-sec .breadcome-banner {
    min-height: 250px;
  }
  .fitting-sec .breadcome-banner .breadcome-title h1 {
    font-size: 40px;
    text-align: center;
  }
  .bread-come-text {
    padding-top: 20px;
  }
  .bread-come-text .text-desc ul {
    justify-content: center;
  }
  .middel-section-start .all-genders a .gender-icon {
    padding: 30px 20px;
  }
  .middel-section-start.fitting5 .all-genders a .gender-icon {
    height: auto;
    width: auto;
  }
  .middel-section-start .all-genders .gender-icon .icon {
    height: 90px;
  }
  .middel-section-start .all-genders .gender-icon .title {
    font-size: 20px;
    margin-top: 20px;
  }
  .middel-section-start .main-page-desc {
    width: 100%;
  }
  .middel-section-start.fitting-virtual3 .main-page-desc {
    width: 100%;
  }
  .main-checkbox {
    width: 70%;
    margin: 55px auto 20px auto;
  }
  .middel-section-start .main-page-desc .page-title h2 {
    font-size: 26px;
  }

  .middel-section-start .all-genders .adjust-space .width-space {
    width: -webkit-fill-available;
  }
  .middel-section-start .all-genders a .gender-icon {
    margin-bottom: 25px;
  }
  .middel-section-start.fitting5 .all-genders .adjust-space .width-space {
    width: 100%;
  }
  .bottom-navigation-btn {
    padding: 30px 0 50px 0;
  }
  .bottom-navigation-btn a {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
  }

  /* 2 */

  .nav.nav-tab-sec li a {
    margin-bottom: 30px;
  }
  .nav.nav-tab-sec li #tab-2 {
    margin-bottom: 0;
  }
  .nav.nav-tab-sec {
    margin: 20px 0;
  }

  .tab-content {
    min-height: 100px;
  }

  /* .range-slider-sec .container{
    padding: unset;
  }
  .range-slider-sec .range_container .range_slider {
    width: 89%;
  }
  .range-slider-sec .range_slider .ui-state-default,
  .range-slider-sec .range_slider .ui-widget-content .ui-state-default {
    width: 35px;
    height: 12px;
    margin: 5px auto auto 0;
  }
  .range-slider-sec .range_container .ruler span {
    font-size: 9px;
    text-align: center;
  }
  .range-slider-sec .range_slider .ui-state-default:after,
  .range-slider-sec .range_slider .ui-widget-content .ui-state-default:after {
    height: 17px;
    width: 113%;
    top: 250%;
    /* left: -4px; */

  /* .range-slider-sec .range_container .ruler {
    margin: 7px auto 0 auto;
  }
  .range-slider-sec .range_container .text.active{
    display: none;
  } */

  .slider-range {
    margin-top: 50px;
    margin-bottom: 10px;
}

  .slider-range .menu .slider .bar a.knob {
    width: 45px;
    height: 20px;
    top: -8px;
  }
  .slider-range .menu .slider .bar a.knob .fa {
    font-size: 14px;
  }
  .slider-range .menu .slider .bar a.knob .fa.fa-circle-o {
    font-size: 9px;
    padding: 2px 7px 0 7px;
  }

  .slider-range .menu ul {
    padding: 0;
    margin: 25px 0 0px 0;
  }
  .slider-range .menu ul li {
    padding: 0px 5px;
  }
  .slider-range .menu ul li a {
    font-size: 10px;
    line-height: 18px;s
  }
}

@media only screen and (max-width: 575px) {
  .registration-form .login-block .form-main {
    margin: 0px;
  }
  .registration-form .login-block .form-main .form-row {
    flex: 0 0 100%;
    padding: 0px;
    margin-bottom: 16px;
  }
  .registration-form .login-block .form-main .btn {
    margin: 0px;
    padding: 10px 24px;
    min-width: 150px;
  }
  /* content */
  .tab-main .download-block .block-content {
    width: 100%;
    margin: 8px 0px;
  }
  .tab-main ul.tabs {
    margin-bottom: 0px;
  }
  .tab-main ul.tabs li {
    margin-bottom: 16px;
  }
  .tab-main .middle-btn .btn {
    margin: 0px 4px 10px;
    padding: 10px 24px;
    min-width: 150px;
  }
  header .logout {
    float: left;
    width: 100%;
  }
  .tab-main .last-tab-content .left-tab p a {
    word-break: break-word;
  }
}

/* Himani */

@media only screen and (max-width: 1600px) {
  .product-slider-main {
    padding-right: 0px;
    padding-left: 16px;
  }
  .details-left {
    width: 40%;
  }
  .product-slider-main {
    width: 60%;
  }
  .right-form {
    padding: 0px;
  }
  .right-form .input-group {
    width: 100%;
  }
  .right-form .btn-submit {
    width: 100%;
    margin-left: 0;
    margin-top: 8px;
  }
}
@media only screen and (max-width: 1500px) {
  .middle-text:after {
    width: 90%;
    left: 0;
  }
  .right-text-inner {
    padding: 32px;
  }
}
@media only screen and (max-width: 1199px) {
  .product-slider-main .slider-banner-image img {
    height: 500px;
  }
  .right-form .form-group {
    margin-bottom: 16px;
  }
  .details-banner h1 {
    font-size: 38px;
  }
  .details-left {
    padding-top: 0px;
  }
  .middle-text {
    padding: 80px 0px;
  }
  .sub-title h2 span {
    font-size: 30px;
  }
  .sub-title h2 {
    font-size: 42px;
  }
  .vedio-section {
    padding: 80px 0px;
  }
  .vedio-section h2 {
    font-size: 30px;
  }
  .need-section {
    padding: 30px 16px 0px;
  }
  .need-section .slick-prev.slick-arrow {
    left: 0px;
  }
  .need-section h2 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .details-banner {
    padding: 32px 0px 24px;
  }
  .details-banner h1 {
    font-size: 32px;
  }
  .middle-left-text p {
    font-size: 16px;
  }
  .sub-title h2 {
    font-size: 32px;
    letter-spacing: 1px;
  }
  .sub-title h2 span {
    font-size: 20px;
    letter-spacing: 0px;
  }
  .middle-text {
    padding: 48px 0px;
  }
  .right-text-inner p {
    font-size: 16px;
    width: 100%;
  }
  .right-text-inner {
    padding: 16px 0px;
  }
  .vedio-section {
    padding: 30px 0px;
  }
  .vedio-section h2 {
    line-height: 40px;
  }
  .vedio-section .container {
    max-width: 100%;
  }
  .need-section .slick-carousel .item-info h2 {
    font-size: 20px;
  }
  .need-section .slick-carousel .item-info p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .details-left {
    width: 100%;
  }
  .product-slider-main {
    width: 100%;
    padding-left: 0px;
  }
  .details-left p {
    font-size: 16px;
  }
  .details-banner h1 {
    font-size: 24px;
  }
  .details-banner .price h3 {
    font-size: 24px;
  }
  .details-banner .price {
    margin-bottom: 16px;
    padding-bottom: 16px;
  }
  .right-form {
    margin-top: 16px;
  }
  .product-slider-main .slider-banner-image img {
    height: 400px;
  }
  .product-slider-main .slick-prev.slick-arrow {
    left: 16px;
  }
  .product-slider-main .slick-next.slick-arrow {
    right: 16px;
  }
  .vedio-section h2 {
    font-size: 24px;
    line-height: 34px;
  }
}

@media only screen and (max-width: 575px) {
  .product-slider-main .slider-banner-image img {
    height: 250px;
  }
  .need-section .slick-next.slick-arrow {
    right: 50px;
  }
  .need-section .slick-arrow {
    margin-top: 0px;
  }
  .need-section .slick-arrow {
    width: 32px;
    height: 32px;
    line-height: 34px;
  }
}
